In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[["charges"]]

In [10]:
dataset.isnull().sum()

age           0
bmi           0
children      0
charges       0
sex_male      0
smoker_yes    0
dtype: int64

In [11]:
dataset.dropna(inplace=True)

In [12]:
dataset.isnull().sum()

age           0
bmi           0
children      0
charges       0
sex_male      0
smoker_yes    0
dtype: int64

In [13]:
dataset.describe()

,age,bmi,children,charges,sex_male,smoker_yes
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,30.663397,1.094918,13270.422265,0.505232,0.204783
std,14.049960,6.098187,1.205493,12110.011237,0.500160,0.403694
min,18.000000,15.960000,0.000000,1121.873900,0.000000,0.000000
25%,27.000000,26.296250,0.000000,4740.287150,0.000000,0.000000
50%,39.000000,30.400000,1.000000,9382.033000,1.000000,0.000000
75%,51.000000,34.693750,2.000000,16639.912515,1.000000,0.000000
max,64.000000,53.130000,5.000000,63770.428010,1.000000,1.000000

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1338 entries, 0 to 1337
Data columns (total 6 columns):
age           1338 non-null int64
bmi           1338 non-null float64
children      1338 non-null int64
charges       1338 non-null float64
sex_male      1338 non-null uint8
smoker_yes    1338 non-null uint8
dtypes: float64(2), int64(2), uint8(2)
memory usage: 54.9 KB

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [16]:
from xgboost import XGBRegressor

In [17]:
xg_reg = XGBRegressor()

In [18]:
xg_reg.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [19]:
y_pred = xg_reg.predict(X_test)

In [20]:
y_pred

array([ 9355.166  ,  9420.207  , 44116.4    , 10005.619  ,  9566.334  ,
        9448.488  ,  2338.079  ,  9533.839  ,  6234.6675 ,  6049.3877 ,
        6219.6094 , 25164.947  ,  8419.287  ,  8445.966  , 29698.8    ,
       12700.348  , 13825.596  ,  2947.1606 ,  5871.2603 , 33895.062  ,
       22517.404  , 19577.537  , 10025.649  , 27713.293  ,  4715.523  ,
        4253.962  ,  4965.724  ,  7949.968  ,  3221.409  ,  7739.419  ,
        8248.069  , 48665.133  , 17215.555  , 10485.819  , 15996.23   ,
        3585.2563 , 17417.074  , 37508.96   , 38273.168  ,   888.7224 ,
        7942.915  ,  4867.6216 , 19593.748  , 47738.004  , 37368.664  ,
        2475.7295 , 13048.276  ,  6576.0493 ,  4575.248  , 12831.288  ,
        2234.082  ,  4040.7622 , 28415.248  , 45237.91   , 11782.942  ,
        3347.6033 ,  2075.2766 , 10028.767  ,  7649.4727 , 18115.754  ,
        1844.0619 , 43672.266  , 15727.998  , 21839.465  , 16885.773  ,
        8907.674  , 32291.295  , 38644.47   ,  3351.7412 , 13262.634  ,
       14524.998  , 11245.764  , 16313.977  , 14937.01   , 14233.619  ,
       14079.854  ,  9350.3955 ,  9510.221  , 18232.47   , 47239.72   ,
       11153.636  , 49067.4    ,  2056.2876 , 14415.621  , 39296.484  ,
       19430.543  ,  4025.548  ,  2740.404  , 11887.731  , 39789.574  ,
        4948.0728 , 11630.228  ,  9234.222  ,  9002.273  ,  6973.535  ,
        5011.817  , 43399.273  , 44993.055  ,  4632.5933 , 11198.679  ,
        2421.0664 , 15285.699  ,  5995.6743 , 37256.797  , 28032.229  ,
        3297.819  , 11020.451  ,  3269.491  , 12554.411  , 47539.78   ,
       12431.411  ,  4916.55   ,  9984.613  , 35842.49   , 50051.31   ,
        6846.559  ,  2514.5981 ,  9280.338  , 26918.889  ,  9444.917  ,
       39611.316  , 11564.574  , 15295.826  , 10164.181  , 11132.3545 ,
        6210.6035 , 29586.93   , 28799.24   , 48423.53   ,  2244.1924 ,
       16722.986  ,  3687.1135 ,  6112.3545 ,  7282.256  , 39382.742  ,
       37190.81   , 21897.875  , 19749.465  , 24631.305  ,  6807.746  ,
        1919.13   , 13831.322  , 24714.025  , 11117.236  ,  6198.2505 ,
       13845.274  , 25006.111  , 19815.123  ,  1568.6766 , 11363.628  ,
        6225.912  , 39294.227  ,  8831.5625 , 16288.01   ,  1815.7942 ,
       11355.885  ,  2951.9888 ,  6329.8096 , 12700.348  , 12490.122  ,
        5598.294  , 13004.838  , 13313.229  ,  8656.81   ,  3663.6726 ,
        9133.482  , 16382.106  ,  6207.796  ,  5693.216  ,  1638.0774 ,
        7500.532  ,  8117.52   ,  9794.161  ,   836.85675,  9576.985  ,
        9415.015  ,  5354.511  ,  7284.8394 , 26490.84   ,  1586.3938 ,
       16640.967  ,  5766.684  , 10353.034  ,  4897.1636 ,  9841.163  ,
       27692.082  ,  3846.8235 ,  3386.0308 , 14640.634  , 19812.963  ,
       42494.33   ,  4007.352  ,  5213.3745 , 23452.191  ,  1856.6206 ,
        3157.3499 ,  7181.6445 ,  6147.5405 ,  4477.373  ,  4783.036  ,
       17676.264  , 48278.875  , 14905.269  , 18085.309  ,  7116.454  ,
       40853.75   ,  2393.942  ,  8986.985  ,  5623.1807 ,   445.87805,
        8509.616  , 14663.692  , 12811.123  ,  1818.8937 ,  6783.432  ,
        9337.993  ,  4813.9575 ,  9236.067  , 13562.867  ,  9202.154  ,
       10151.625  ,  9281.141  , 11270.368  ,  4228.2197 , 12159.074  ,
       13539.914  , 25509.062  , 13223.198  ,  6808.039  ,  2066.4094 ,
       10862.873  ,  7337.6504 , 15868.539  ,  8877.473  ,  4735.8477 ,
        7121.1904 , 15733.34   , 36943.027  ,  5944.998  , 11902.235  ,
       11073.577  , 39846.51   ,  7559.9644 ,  7899.9595 ,  8957.99   ,
       10246.057  ,  3190.109  ,  8132.227  ,  1795.5154 ,  6387.242  ,
       18961.363  , 44098.17   ,  4006.875  ,  3916.1025 ,  3163.349  ,
        1663.5679 ,  7144.8726 ,  2287.6287 ,  3241.1843 , 13920.983  ,
        9017.154  , 27427.037  , 44776.266  , 14038.063  ,  6489.584  ,
       11198.679  , 46905.652  ,  7561.051  , 40383.117  ,  1389.6671 ,
       36694.77   ,  4915.1196 , 12161.358  ,  7987.1304 , 39062.938  ,
        4663.1104 , 11239.185  ,  9999.795  ,  3877.8164 , 18609.105  ,
       10598.89   ,  8106.0713 , 17423.62   , 19219.637  ,  7352.675  ,
        2135.4734 ,  6524.2607 , 22326.58   ,  2797.201  ,  1843.579  ,
        2577.4727 , 46987.227  ,  9926.821  ,  4426.824  , 17916.383  ,
       12070.448  , 34630.37   ,  9522.487  ,  4298.8867 ,  8036.9604 ,
        2862.4744 ,  3282.2976 , 20621.094  , 14934.924  , 11841.675  ,
        2079.1128 ,  2243.638  , 15274.886  ,  8830.149  , 16226.482  ,
       20083.71   ,  5978.3916 , 17873.709  ,  1681.4552 , 12667.143  ,
        7030.088  , 17478.705  ,  2368.4531 , 10937.852  , 45356.98   ,
        4394.129  ,  5766.5615 ,  1914.0824 , 12092.24   ,  4367.2183 ,
       13991.393  , 50273.125  , 17860.676  ,  8720.029  , 46754.703  ,
       21352.2    ,  6764.7407 ,  8801.1045 ,  4084.4958 , 27716.812  ,
        3536.117  , 14494.428  ,  1953.9341 , 21830.324  ,  3196.362  ,
       28610.836  ,  8417.451  ,  5868.2817 , 39380.848  ,  6121.5317 ,
        5126.8735 , 29177.885  ,  3375.4053 ,  9529.276  ,  2806.9053 ,
       20610.326  ,  3972.4402 ,  7422.6743 ,  5494.4863 , 45893.617  ,
       12799.334  , 32667.504  , 38873.863  ,  5944.998  , 12062.474  ,
        1972.8862 , 12292.558  ,  3370.5623 ,  7801.4834 , 51460.83   ,
        9960.522  ,  2349.0137 , 15955.254  ,  3540.622  , 14080.505  ,
        5618.9985 ,  3021.7983 ,  2544.5251 , 37005.344  ,  8655.107  ,
        2308.9255 , 42819.89   , 11487.865  , 47048.69   ,  9524.141  ,
       14903.432  ,  2436.8203 ,  2113.847  , 22568.785  ,  6703.688  ,
        2084.823  ,  9957.851  ,  9397.299  ,  5416.463  ,  6257.012  ,
        7935.4956 , 44578.023  ,  1691.9924 , 14319.808  , 11291.722  ,
       14260.11   , 11234.588  ,  4497.639  , 16276.969  , 11110.397  ,
       16121.9    , 17181.982  ], dtype=float32)

In [21]:
from sklearn.metrics import mean_squared_error
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [22]:
from sklearn.metrics import mean_squared_error
regressor=XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1)
regressor=regressor.fit(X_train,y_train)

In [23]:
y_pred=regressor.predict(X_test)

In [24]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [25]:
r_score

0.8257765248999531